h1 {
    margin-left: 40%;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bottomSpace {
    margin-bottom: 10px;
}

#outcome {
    height: 15px;
}

.nobottom {
    margin-bottom: 0px;
}

.notop {
    margin-top: 0px;
}

#greenBox {
    background-color: #00FF00;
    height: 12px;
    width: 12px;
    border: 1px solid black
}

#redBox {
    background-color: #FF0000;
    height: 12px;
    width: 12px;
    border: 1px solid black
}

#blueBox {
    background-color: #0000FF;
    height: 12px;
    width: 12px;
    border: 1px solid black
}

#blackBox {
    background-color: #000000;
    height: 12px;
    width: 12px;
    border: 1px solid black
}

#greyBox {
    background-color: #AAAAAA;
    height: 12px;
    width: 12px;
    border: 1px solid black
}

#yellowBox {
    background-color: #FFFF00;
    height: 12px;
    width: 12px;
    border: 1px solid black
}

#container {
    display: flex;
    align-items: center;
}

.box {
    margin-right: 5px;
}

.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

button {
    box-shadow: 2px 2px grey;
}

#fillPercent {
    -webkit-appearance: menulist-button;
    height: 26px;
}

button {
    border: 1px solid black;
    background-color: white;
    font-size: 15px;
    margin-right: 10px;
}

#instructions {
    margin-bottom: 2px;
    margin-top: 0px;
}

p {
    margin-right: 20px;
}

