h1 {
    margin-left: 0px;
    margin-bottom: 0px;
}

#greenBox {
    background-color: #00FF00;
    height: 12px;
    width: 12px;
    border: 1px solid black
}

#redBox {
    background-color: #FF0000;
    height: 12px;
    width: 12px;
    border: 1px solid black
}

#blueBox {
    background-color: #0000FF;
    height: 12px;
    width: 12px;
    border: 1px solid black
}

#blackBox {
    background-color: #000000;
    height: 12px;
    width: 12px;
    border: 1px solid black
}

#greyBox {
    background-color: #AAAAAA;
    height: 12px;
    width: 12px;
    border: 1px solid black
}

#yellowBox {
    background-color: #FFFF00;
    height: 12px;
    width: 12px;
    border: 1px solid black
}

#container {
    display: flex;
    align-items: center;
}

.box {
    margin-right: 5px;
}

.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}


button {
    box-shadow: 2px 2px grey;
}


button {
    border: 1px solid black;
    background-color: white;
    font-size: 15px;
    margin-right: 10px;
}

p {
    margin-right: 20px;
}

